[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://i2.cdscdn.com/pdt2/1/0/0/1/700x700/li400byd100/rw/diesel-chaussettes-tipo-homme.jpg
Type=Link
URL=http://i2.cdscdn.com/pdt2/1/0/0/1/700x700/li400byd100/rw/diesel-chaussettes-tipo-homme.jpg
Icon=image-jpeg
