[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "chaussettes"
Type=Link
URL=https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwiGvL6a_6XSAhUBOhQKHV_ICh4QjRwIBw&url=http%3A%2F%2Fwww.moulin-echoiseau.fr%2Ftag-chaussettes.html&psig=AFQjCNE-qGSWF6QxGHyvsZz5BoJPGb1j6g&ust=1487931573273655&cad=rja
Icon=text-html
